{% extends 'back/base.html.twig' %}

{% block title %}Statistics{% endblock %}

{% block body %}
    <h1>Statistics</h1>
    <canvas id="myChart" width="400" height="400"></canvas>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var labels = {{ labels|raw }};
        var data = {{ data|raw }};
        
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Nombre d\'informations éducatives par allergie',
                    data: data,
                    backgroundColor: ['#FF6384', '#36A2EB', '#FFCE56'], // Couleurs pour chaque tranche
                }]
            }
        });
    </script>

    <!-- Affichage des mots répétés -->
   

    <!-- Fin de l'affichage des mots répétés -->

    <!-- Footer Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="bg-light rounded-top p-4">
            <div class="row">
                <div class="col-12 col-sm-6 text-center text-sm-start">
                    &copy;
                    <a href="#">TounsiFit</a>, All Right Reserved.
                </div>
                <div class="col-12 col-sm-6 text-center text-sm-end">
                    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                    Designed By
                    <a href="https://htmlcodex.com">HTML Codex</a>
                    <br>
                    Distributed By
                    <a class="border-bottom" href="https://themewagon.com" target="_blank">ThemeWagon</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
{% endblock %}
